.header{

    padding: 10px 30px;
    padding-top: 20px;

}

.heading {
    font-size: 200%;
    font-weight: 100;
    font-stretch: expanded;
    margin: 10px 20px;
    color: #4f5761;
    -webkit-font-smoothing: antialiased;
}